body {
    font-family: "Red Hat Display", sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
    background-repeat: no-repeat;
}
.box {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0px 10px hsl(0deg 0% 77.95%);
}
.box .image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.box .content {
    width: 300px;
    margin: auto;
    padding-top: 10px;
}
.box .content h1 {
    color: hsl(223, 47%, 23%);
    font-size: 30px;
}
.box .content p {
    color: #959191;
}
.price .info .title{
    color: hsl(223, 47%, 23%);
    font-weight:700;
    margin: 0;
}
.price .info {
    padding: 10px 0;
}
.price .info .num{
    color: #959191;
    font-weight:400;
    padding-top: 10px;
    margin: 0;
}
.price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    margin: 30px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.price .change a {
    padding-left: 65px;
    color: hsl(245, 75%, 52%);
    font-weight: 500;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.price .change  a:hover {
    color:  hsla(246, 100%, 81%, 0.799);
}
.box .btn {
    background-color: hsl(245, 75%, 52%);
    margin: 30px 40px;
    padding: 12px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 3px 5px hsl(245, 75%, 52%);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.box .btn:hover {
    background-color:  hsla(246, 100%, 81%, 0.799);
}
.box .btn a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.box .cancel a {
    color: #959191;
    transition: 0.4s;
    font-weight: bold;
    text-decoration: none;
}
.box .cancel a:hover {
    color:  hsla(246, 100%, 81%, 0.799);
}